:root{
  --my-orange : orange;
}
.debug{
  background-color: bisque;
  border: 1px solid firebrick;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-style{
  text-shadow: 2px 0 var(--my-orange), -2px 0 var(--my-orange), 0 2px var(--my-orange), 0 -2px var(--my-orange),
    1px 1px var(--my-orange), -1px -1px var(--my-orange), 1px -1px var(--my-orange), -1px 1px var(--my-orange);
}

.my-mex{
  color: red;
}

.form-control.error input{
  border: 2px solid red;
}

